@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap');
:root{
    --primary-color: #7C3AED;
    --secondary-color:#ff4757;
}
body{
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
}
.container-1,.container-2,.container-3{
    border: 1px solid black;
    width: 75%;
    margin: auto;
    text-align: center;
}
.flex-box-container-1,.flex-box-container-2,.flex-box-rps{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
}
.flex-box-container-1 div{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    align-items: center;
}
.output {
    text-align: center;
    border: 1px solid black;
}

.flex-box-container-2 img{
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.7);
}
.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37,50,233,1);
   
}
































.btn{
    text-decoration: none;
    padding: 0.5rem  1rem;
}
.btn-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}
.btn-secondary{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;} */